body {
    background-color: rgb(95, 95, 117);
   }


 
 .js-class{
    font-size: 1.5rem;
    margin-top: 50px;
 }
 
 
.form-select {
    width: 20%;
    margin-top: 40px;
}
.js-submit  {
    width: 350px;
    height: 50px;
    margin-top: 40px;
    
}

.btn-primary {
    background-color: rgb(40, 50, 57);
    font-size: 20px;
    border-color:rgb(20, 35, 47) ;
}

.btn-primary:hover{
background-color: rgb(20, 35, 47);
border-color:rgb(20, 35, 47)
}




